Schemas/Config/Smtp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="smtp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="network">
          <xs:complexType>
            <xs:attribute name="defaultCredentials" type="xs:boolean" use="required" />
            <xs:attribute name="host" type="xs:string" use="required" />
            <xs:attribute name="port" type="xs:unsignedShort" use="required" />
            <xs:attribute name="userName" type="xs:string" use="required" />
            <xs:attribute name="password" type="xs:string" use="required" />
            <xs:attribute name="enableSsl" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="deliveryMethod" type="xs:string" use="required" />
      <xs:attribute name="from" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>